header {
    display: flex;
    justify-content: center;

    /* border: 1px solid red; */
}

button {
    border: none;
    width: 12em;
    height: 2em;
    background-color: #b08968;
    font-size: 1em;
    font-weight: bold;    
}

button:hover {
    background-color: #7f5539;
    border-radius: 4px;
}

body {
    background-color: #b08968;
}

/* page-load.js */
.description {
    font-size: 1em;
}

/* home.js */
.homeDiv {
    
}

/* menu.js */
.menuDiv {
    border: 2px solid red;

    display: flex;
    justify-content: space-between;
}

.item1,
.item2,
.item3 {
    height: 15em;
    width: 15em;

    border: 2px solid blue;
}