header {
    display: flex;
    justify-content: center;

    /* border: 1px solid red; */
}

button {
    border: none;
    width: 12em;
    height: 2em;
    background-color: #B08968;
    font-size: 1.25em;
    font-weight: bold;    
}

button:hover {
    background-color: #7f5539;
    border-radius: 4px;
}

body {
    background-color: #7F5539;
}

/* header & nav-bar */
.header {
    padding: 5px;
    background-color: #B08968;
    border-radius: 8px;
    margin-bottom: 10px;
}

.nav-bar {
    padding: 1em;
}

/* PAGE-LOAD.JS */
.description {
    font-size: 1em;
}

.pageloadContentContainer {
    /* border: 3px solid blue; */
    display: flex;
    flex-direction: column;
}

.pageloadMainImage {
    /* border: 3px solid red; */
    border-radius: 8px;
    /* padding-bottom: 20px; */
}

.pageloadTextContentDiv {
    /* border: 3px solid green; */
    background-color: #B08968;
    border-radius: 8px;
    margin-top: 10px;
    padding: 1em;
}

.pageloadHeadline {
    /* border: 3px solid pink; */
    margin-bottom: 10px;
}

/* home.js */
.homeDiv {
    background-color: #B08968;
    border-radius: 8px;
    padding: 1em;
}

/* MENU.JS */
.menuContainer {
    /* border: 3px solid red; */

    display: flex;
    justify-content: space-between;
}

.item1Container,
.item2Container,
.item3Container {
    height: 15em;
    width: 15em;

    display: flex;
    justify-content: center;
    align-items: center;

    /* border: 3px solid blue; */
    border-radius: 8px;
    background-color: #b08968;
}

.item1,
.item2,
.item3 {
    font-size: 10em;
}

/* CONTACT.JS */
.contactMainDiv {
    background-color: #B08968;
    border-radius: 8px;
    padding: 1em;
}